extends layout

block content
  form(method='POST')
    label(for='email')
      b Email
    input#email(type='email', placeholder='Ingresa un Email', name='email', required='required')
    label(for='psw')
      b Password
    input#psw(type='password', placeholder='Ingresa un Password', name='psw', required='required')
    button(type='submit') Login
    p No tienes cuenta todavía? 
      a(href='/register') Registrate